.category-preview-container {
  
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  
  h1 {
    font-size: 28px;
    margin-bottom: 25px;
    cursor: pointer;
    text-align: center;
  }

  .preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }
  
}
