.sign-up-page-container {
    text-align: center;
    position: relative;
    background-image: url('../../assets/BgImg.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}