.category-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 10px;
    row-gap: 50px;
}
.category-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}