.sign-in-container{
    width: 410px;

    h1{
        margin: 10px 0;
        font-weight: bolder;
    }
    span{
        font-weight: bold;
    }
     .buttons-container{
        display: flex;
        justify-content: space-between;  
    }
}

   