.button-container {
	width: auto;
	letter-spacing: 0.5px;
	line-height: 120%;
	padding: 10px 25px;
	font-size: 15px;
	font-weight: 700;
	background-color: #4f46e5;
	color: white;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	border-radius: 10px;
	transition: all 0.4s;
    border: 1px solid #4f46e5;

	&:hover {
		background-color: #4285f4;
        border-color: #4285f4;
	}

	&.google-sign-in {
		background-color: #4285f4;
        border-color: #4285f4;
		color: white;

		&:hover {
			background-color: #357ae8;
            border-color: #357ae8;
		}
	}

    &.outline {
        background-color: transparent;
        border: 1px solid #4f46e5;
        color: #4f46e5;

        &:hover {
            background-color: #4f46e5;
            color: #fff
        };
    }

	&.inverted {
		background-color: white;
		color: #4f46e5;

		&:hover {
			background-color: #4f46e5;
			color: white;
			border: none;
		}
	}
}
