.btn-container {
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    font-size: 18px;
    letter-spacing: 0.5px;

    &.btn-login-register {
        margin-top: 20px;
        width: 70%;
        height: 50px;
        align-self: center;
        border: 0.5px solid #e6e6e6;
        border-radius: 8px;
        background-image: linear-gradient(to right, #8ed4de, #3f8ee1);

        &:hover {
            background-image: linear-gradient(to right, #3f8ee1, #8ed4de);
        }
    }

    &.btn-google {
        margin-top: 20px;
        margin-bottom: 30px;
        width: 70%;
        height: 50px;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.5px solid #000000;
        border-radius: 8px;

        &:hover {
            background-color: #d1d1d1;
        }
    }

    &.btn-add-to-cart {
        margin-top: 20px;
        margin-bottom: 30px;
        width: 70%;
        height: 50px;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: transparent;
        color: transparent;

        &:hover {
            background-image: linear-gradient(to right, #3f8ee1, #8ed4de);
        }
    }
}