.shop-container {
    text-align: center;

    .products-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 10px;
        row-gap: 50px;
        margin: 0px 10px;

        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 576px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 480px) {
            grid-template-columns: repeat(1, 1fr);
        }

        @media screen and (max-width: 360px) {
            grid-template-columns: repeat(1, 1fr);
        }

        @media screen and (max-width: 320px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}