.navigation {
	height: 70px;
	width: 90%;
    margin: 0 auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;

	.logo-container {
		height: 100%;
		width: 70px;
		padding: 25px;
	}

	.nav-links-container {
		width: 50%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.nav-link {
			padding: 10px 15px;
			cursor: pointer;
            font-weight: 700;
            position: relative;

            &::after {
                content: '';
                width: 0;
                height: 3px;
                border-radius: 1px;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: width .4s;
                background-color: #7c3aed;
            }
            &:hover::after {
                width: 100%;
            }

            &:not(:last-child) {
                margin-right: 30px;
            }
		}
	}
}
