.sign-up-container {
   display: flex;
   flex-direction: column;
   width: 380px;

   h2 {
      margin:10px 0; //margin top and bottom of 10px and no left/right margins
   }

   .buttons-container {
      display: flex;
      justify-content: space-between;
   }
}