.categories-preview-container {

    .categories-preview-header-title {
        font-family: 'Open Sans Condensed';
        font-weight: bolder;
        font-size: 26px;
        letter-spacing: 1px;
        text-align: center;
    }
}