.cart-icon-container {
  width: 55px;
  height: 55px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 224px;
    height: 224px;
  }

  .item-count {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    bottom: 5px;
    
  }
}
