// .sign-up-containers{
//     display: flex;
//     flex-direction:column;
//     width: 380px;

//     h1{
//         margin: 0px 0px;
//     }
// }
.sign-up-container{
    display: flex;
    flex-direction:column;
    width: 400px;

    h1{
        margin: 10px 0;
        font-weight: bolder;
    }
    span{
        font-weight: bold;
    }
     .buttons-container{
        display: flex;
        justify-content: space-between;  
    }
}

   