.register-page-container {
    text-align: center;
    position: relative;
    background-image: url('../../assets/bg-img.jpg');
    height: 120vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}