.btn{
    font-size: 22px;
    font-weight: 400;
}
.sign-in{
    font-size: 48px;
    font-weight: 800;
    font-family:"Klavika",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

 .authentication-container{
    display : flex;
    justify-content: space-between;
    width: 900px;
    margin: auto;
 }