.categories-container {
    background-color: red;
    padding: 10px;

    .category-container {
        background-color: green;
        padding: 20px;

        .category-body-container {
            background-color: blue;
            padding: 30px;
        }
    }
}