body {
  margin: 0;
  font-family:'Open Sans Condensed', sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

*{
  box-sizing: border-box;
}