// Définition des variables de couleur
$sub-color: grey;
$main-color: black;

// Mixin pour réduire la taille de l'étiquette
@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $main-color;
}

// Styles pour le groupe de formulaires
.group {
  position: relative;
  margin: 45px 0;

  // Styles pour les champs de formulaire
  .formInput {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin: 25px 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .formInputLabel {
      @include shrinkLabel();
    }

    // Styles spécifiques pour les champs de mot de passe
    input[type='password'] {
      letter-spacing: 0.3em;
    }
  }

  // Styles pour l'étiquette du champ de formulaire
  .formInputLabel {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
