.ContainerCheckOut{
    width: 60%;
    margin: 5% auto;

h1{
    text-align: right;
    margin: 10px 12%;
    
    
}
.headings{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.products{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2px;
}


}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .ContainerCheckOut{
        width: 80%;
    }
}